# Faker - Synthetic User Data
In this exercise I'm generating a DataFrame full of authentic german user data using the faker library.

In [7]:
import pandas as pd
from faker import Faker

In [103]:
df = pd.DataFrame(columns=["USER_ID", "FIRSTNAME", "LASTNAME", "STREET", "HOUSENUMBER", "ZIPCODE", "CITY", "LAT", "LON"])

fake = Faker("de_DE")

for row in range(0,10):
    fake_results = []
    fake_results.append(fake.unique.random_int(min=1, max=100))
    fake_results.append(fake.first_name())
    fake_results.append(fake.last_name())
    fake_results.append(fake.street_name())
    fake_results.append(fake.random_int(min=1, max=127))
    fake_results.append(fake.postcode())
    fake_results.append(fake.city_name())  
    fake_results.append(fake.latitude())
    fake_results.append(fake.longitude())
    df.loc[len(df)] = fake_results

df.head(10)

,USER_ID,FIRSTNAME,LASTNAME,STREET,HOUSENUMBER,ZIPCODE,CITY,LAT,LON
0,37,Rouven,Spieß,Seidelplatz,45,51735,Weißenfels,-60.9338005,173.576069
1,74,Kristian,Ehlert,Ortmannplatz,11,29502,Königs Wusterhausen,41.1976005,110.819785
2,71,Reiner,Eimer,Schottinstraße,94,87001,Moers,34.5663085,-132.976326
3,68,Johanna,Aumann,Dobesweg,109,52328,Riesa,60.815394,39.293396
4,42,Yasemin,Mohaupt,Johan-Ebert-Gasse,107,44184,Nauen,10.942707,-54.586102
5,69,Janina,Boucsein,Larissa-Beckmann-Straße,68,31409,Geithain,-12.471592,81.752262
6,61,Dirk,Jacob,Klingelhöferweg,117,74407,Böblingen,77.317755,168.258261
7,77,Isabella,Caspar,Karl-Ludwig-Ehlert-Platz,20,49106,Meißen,69.9444725,-4.517070
8,87,Rosl,Ackermann,Rohledergasse,22,33131,Tecklenburg,67.679001,66.243862
9,75,Veli,Heinz,Junckenring,16,69487,Peine,-69.9134595,10.316127